extends ../base

block content
  h3 Advertisement

  a(href="/ads/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add Advertisement

  each ad in ads
    .media
      a(href="/ads/#{ad.id}")
        .media-left
            img(src=ad.imageUrl || "http://placekitten.com/g/128/192")
        .media-body
          h4= ad.title
          p= ad.author

  if !ad.length
    p No Advertisement found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href="?pageToken=#{encodeURIComponent(nextPageToken)}") More
